<footer id="footer" class="footer-wrapper">
  <section class="section fix-footer" id="section_1806483692">
    <div class="section-content relative">
      <div class="row footer-row">
        <!-- Cột trái -->
        <div class="footer-col contact-col">
          <div class="footer-inner">
            <h3 class="footer_title">THÔNG TIN LIÊN HỆ</h3>
            <p>Địa chỉ dự án: Khu Đô Thị Bắc Đầm Vạc , Vĩnh Yên , Vĩnh Phúc</p>
            <p><img src="https://latienvillas.com/wp-content/themes/hwp.com.vn/img/icon-hotline.png" width="25"> Hotline: <a href="tel:09472338">0975676534</a></p>
            <p><img src="https://latienvillas.com/wp-content/themes/hwp.com.vn/img/icon-email.png" width="18"> Email: <a href="mailto:hungnt26@wru.vn">chungnt26@wru.vn</a></p>
            <p>Thời gian làm việc: 8:00 – 18:00 các ngày trong tuần</p>
            <hr>
            <h3 class="footer_title">NHÀ PHÁT TRIỂN DỰ ÁN</h3>
            <p><img src="https://latienvillas.com/wp-content/themes/hwp.com.vn/img/logo-KDI-Holdings.png" width="150"></p>
            <hr>
            <p class="footer_title">LIÊN KẾT</p>
            <p><a href="#">Chính sách bảo mật</a> | <a href="#">Điều khoản sử dụng</a> | <a href="#">Quy chế hoạt động</a></p>
          </div>
        </div>

        <!-- Cột phải -->
        <div class="footer-col form-col">
          <div class="footer-inner">
            <p class="text-center">ĐĂNG KÝ ĐỂ NHẬN</p>
            <h3 class="text-center">Bảng Giá & Ưu Đãi Từ CĐT</h3>

            <form class="register-form" id="footer-form">
              <input type="text"id="footer-ho-ten" placeholder="Họ tên (*)" required>
              <input type="tel" id="footer-sdt" placeholder="Điện thoại (*)" required>
              <input type="text" id="footer-noi-dung" placeholder="Muốn quan tâm về ....">
              <button type="submit">Đăng ký ngay</button>
            </form>

            <p><em>*Mọi thông tin về dự án Luxora Vĩnh Yên quý khách có thể liên hệ ngay với chúng tôi qua hotline hoặc form đăng ký.</em></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="absolute-footer">
    <p>Copyright 2025 © Luxora Vĩnh Yên. All Rights Reserved.</p>
  </div>
</footer>
