<div class="location-section">
        <div class="content-left">
            <h1 class="heading-diamond">
               Tọa Độ Vàng 
            </h1>
            <p class="heading-subtitle">
               Nơi Cân Bằng Giữa Thiên Nhiên & Phố Thị
            </p>

            <p class="description">
                Dự án sở hữu thế đất "kim cương" ngay tại lõi trung tâm Vĩnh Yên, kiến tạo nên đặc quyền "view triệu đô" cùng không gian sống lý tưởng. Nhờ tọa lạc sát hồ Đầm Vạc và liền kề mảng xanh rộng lớn của khu đô thị Bắc Đầm Vạc, cư dân được đắm mình trong bầu không khí trong lành, mát mẻ và khoáng đạt. Giá trị bất động sản được khẳng định và gia tăng bền vững nhờ vị thế trung tâm, nằm trong khu vực có quy hoạch bài bản, hạ tầng giao thông hiện đại và đang trong giai đoạn hoàn thiện.
            </p>
        </div>

        <div class="image-right">
            <img src="img/1vitri.jpg" alt="Bản đồ vị trí River Bay Vĩnh Yên" class="map-image">
        </div>
    </div>