<section class="tiendo-section">
    <div class="tiendo-container">

        <h2 class="tiendo-title">TIẾN ĐỘ DỰ ÁN</h2>

        <div class="tiendo-image-grid">
            
            <div class="tiendo-grid-item">
                <img src="img/tiendo/1.jpg" alt="Hình ảnh tiến độ 1">
            </div>
            <div class="tiendo-grid-item">
                <img src="img/tiendo/2.jpg" alt="Hình ảnh tiến độ 1">
            </div>
            <div class="tiendo-grid-item">
                <img src="img/tiendo/3.jpg" alt="Hình ảnh tiến độ 1">
            </div>
            <div class="tiendo-grid-item">
                <img src="img/tiendo/4.jpg" alt="Hình ảnh tiến độ 1">
            </div>
          
        </div> 

          
        </div> 
    </div> 
</section>