<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <title>Document</title> --}}
    <title>Luxora Vĩnh Yên</title>
    <link rel="icon" href="/img/2nen.jpg" type="image/png">
     {{! --- CÁC THẺ META CHO ZALO, FACEBOOK, MESSENGER --- }}
    <meta property="og:title" content="Chung Cư Luxora Vĩnh Yên - Bảng Giá CĐT" />
    <meta property="og:description" content="Đăng ký nhận thông tin, bảng giá, và chính sách ưu đãi mới nhất từ dự án chung cư Luxora Vĩnh Yên." />
    <meta property="og:type" content="website" />

    {{! Quan trọng: Đây là đường dẫn đầy đủ đến web của bạn }}
    <meta property="og:url" content="https://chungculuxora-vinhyen.com" />
    
    {{! QUAN TRỌNG NHẤT: HÌNH ẢNH HIỂN THỊ }}
    {{! Đường dẫn phải là ĐẦY ĐỦ (absolute URL). }}
    {{! Tôi lấy 1 ảnh từ thư mục public/img của bạn làm ví dụ. }}
    {{! Bạn có thể thay 1anhnen.jpg bằng logo.png hoặc bất cứ ảnh nào bạn muốn. }}
    <meta property="og:image" content="https://chungculuxora-vinhyen.com/img/2nen.jpg" />
    <meta property="og:image:alt" content="Phối cảnh dự án Luxora Vĩnh Yên" />
    {{! --- KẾT THÚC CÁC THẺ META --- }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="app">
        {{> header}}
        <div class="container">
                {{{body}}}
        </div>
        {{> popupForm}}
        {{> sideForm}}
        
        {{> footer}}
        
     <script src="/js/layout-scroll.js"></script> {{! Logic cuộn chuột }}
    <script src="/js/popup.js"></script>         {{! Logic Gộp Cả 3 Form + Timer Thông Minh }}
</body>
</html>